# Server port number
# Required: No
# Type: integer (1000-65535)
# Default: 8000
PORT=8000

# Enable debug mode
# Required: No
# Type: bool
# Default: False
DEBUG=False

# Database connection URL
# Required: Yes
# Type: url
DATABASE_URL=
